@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.tt-1 {
    flex-direction: column;
    line-height: 0px
}